@* @model BankingSystem.PL.Views.Shared._headerForRegisterationModel *@
@if (TempData["FixedRole"] != null && TempData["FixedRole"]!.ToString() == "Manager")
{
    <h3 class="mb-0 py-2 text-center">Add New Teller</h3>
}
else
{
    <h3 class="mb-0 py-2 text-center">Bank Account Registration</h3>

}