@{
    ViewData["Title"] = "Reset Link Sent";
}

<div class="container mt-5 text-center">
    <h4 class="text-success">If your email is registered, a reset link has been sent to your inbox.</h4>
    <p>Please check your email and follow the instructions to reset your password.</p>
</div>
